body {
    background-image: url("photo4.jpeg"); /* Updated file path */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  header {
    
    color: rgb(6, 5, 5);
    padding: 10px;
    text-align: fill;
}

  label {
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {

    margin-bottom: 10px;
  }
  
  a {
    font-size: larger;
    text-decoration: none;
    color: #3498db;
  }
  
  a:hover {
    color: #2980b9;
  }